<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <script>
      // Define your JavaScript function
      function showWarning() {
          alert("Somthing went wrong ...");
      }


      function confirmDelete() {
        // Prompt the user for confirmation
        var result = confirm("Are you sure you want to delete?");

        // If user confirms, proceed with form submission
        if (result) {
            return true;
        } else {
            // If user cancels, prevent the form submission
            return false;
        }
    }
    
  </script>


</head>
<body>

  
    <u><h1>List of Documents</h1></u>

    <form method="POST" action="{% url 'documents' %}" >
        {% csrf_token %}
        <button type="submit" name="add">+</button>
        <input type="hidden" name="db_id" value="{{db_id}}">
        <input type="hidden" name="collection_id" value="{{collection_id}}">

        {% if data %}
            <table border=2>
                <thead>
                  <tr>
                    <th></th>
                    {% for title in data.0.keys %}
                      {% if title != "id" %}
                        <th>{{ title }}</th>
                      {% endif %}
                    {% endfor %}
                    
                  </tr>
                </thead>
                <tbody>

                    {% for item in data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                        {% for title, value in item.items %}
                            {% if title != "id" %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <button type="submit" name="edit" value="{{item.id}}">Edit</button>
                            <button type="submit" name="delete" value="{{item.id}}" onclick="return confirmDelete()">Delete</button>
                        </td>
                        </tr>
                    {% endfor %}
                            
                </tbody>
            </table>
                        
                    
        {% else %}
            <h3>No Documents found ...</h3>
        {% endif %}
      </form>


     <!-- Check if warning is true and call the JavaScript function accordingly -->
     {% if warning %}
        <script>
            // Call the JavaScript function if warning is true
            showWarning();
        </script>
      {% endif %}


</body>
</html>