{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "css/documents.css" %}">
{% endblock %}

{% block headScript %}

  <script>
    // Define your JavaScript function
    function showWarning() {
      alert("Somthing went wrong ...");
    }

    function confirmDelete() {
      // Prompt the user for confirmation
      var result = confirm("Are you sure you want to delete?");

      // If user confirms, proceed with form submission
      if (result) {
        return true;
      } else {
        // If user cancels, prevent the form submission
        return false;
      }
    }
  </script>

{% endblock %}

{% block mainContent %}


    <div class="heading"><h1>List of Data</h1></div>


    <form class="inForm" method="POST" action="{% url 'documents' %}">
      {% csrf_token %}
      <input type="hidden" name="db_id" value="{{ db_id }}" />
      <input type="hidden" name="collection_id" value="{{ collection_id }}" />
      <button class="btn-ed"type="submit" name="add">Add</button>
  
      {% if data %}
      <div class="document-list">
          {% for item in data %}
          <div class="document-item">
              <div class="master-info">
                  <span class="slno">{{ forloop.counter }}</span>
              </div>
              <div class="detail-info">
                  {% for title, value in item.items %}
                      {% if title != "id" %}
                      <div class="flex {% if "image" in title and value is not None  %} col {% endif %}">
                        <div class="cap">{{ title }}</div> 
                        <div class="value">
                          {% if "image" in title and value is not None %}
                              <img src="{{ value }}" alt="{{title}}" class="small-round-img" > 
                              <input type="hidden" name="img_{{item.id}}[]" value="{{ value }}">
                          {% else %}
                              : {{ value }}
                          {% endif %}
                      </div>
                      </div>
                      {% endif %}
                  {% endfor %}
                  <div>
                      <button class="btn-ed" type="submit" name="edit" value="{{ item.id }}">Edit</button>
                      <button class="btn-ed" type="submit" name="delete" value="{{ item.id }}" onclick="return confirmDelete()">Delete</button>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
      {% else %}
      <br>
      <br>
      <h2>Data List is Empty !!! Add Some Data ...</h2>
      {% endif %}
    </form>


    <!-- Check if warning is true and call the JavaScript function accordingly -->
    {% if warning %}
    <script>
      showWarning();
    </script>
    {% endif %}

{% endblock %}

{% block endScript %}
  <script src="{% static "script/drop.js" %}"></script>

{% endblock %}
